header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  background: #d97706;
  color: white;
  height: 50px;
  z-index: 10;
}
.cen h1{
  display: inline-block;
  font-size: 1.5em;
}
header img{
  height: 60%;
  position: relative;
  top: 6px;
  margin: 0px 10px;
}
header div img, .user{
  border-radius: 50%;
}
header input{
  display: none;
  width: 1px;
}
.sidepro, .sidemenu{
  width: 300px;
  background-color: #ccc;
  height: 100vh;
  position: absolute;
  left: 0px;
  z-index: 11;
  text-align: center;
}
.usericon{
  width: 40%;
  border-radius: 15%;
  margin-top: 50px;
}
.close{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
}
.username{
  margin: 10px 0px;
  color: white;
}
.sidepro ul{
  margin-top: 20px;
  list-style: none;
  line-height: 50px;
}
.sidepro a{
  color: white;
  background-color: #777;
  border-radius: 20px;
  padding: 10px 30px;
}
a{
  text-decoration: none;
}
.hide{
  display: none;
}
.sidemenu{
  right: 0px;
  text-align: center;
}
.cols{
  width: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.nomo{
  color: #444;
  margin: 10px;
}
li:active{
  scale: 0.9;
}