*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../icons/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.3);
}
#userpassword, #username{
  display: block;
  padding: 8px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #d3d3d3;
  position: relative;
}
#username:focus, #userpassword:focus{
  scale: 1.08;
}
#username:invalid, 
#userpassword:invalid{
  border: 1px solid red;
  box-shadow: 0px 0px 2px red, 0px 0px 2px red;
}

#username:valid,
#userpassword:valid{
  border: 1px solid green;
  box-shadow: 0px 0px 2px green, 0px 0px 2px green;
}

#darkes{
  list-style: none;
  margin-top: 60px;
  border-radius: 9px;
  width: 80%;
  
}


.fa-user{
  position: absolute;
  top: 122px;
  left: 45px;
  z-index: 8;
  color: #999;
}
.fa-eye{
  position: absolute;
  top: 197px;
  left: 44px;
  z-index: 8;
  color: transparent;
}
.fa-eye-slash{
  position: absolute;
  top: 197px;
  left: 44px;
  z-index: 8;
  color: #999;
}
.container{
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(225,225,225,0.4);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  color: white;
  z-index: 9;
}
select{
  outline: none;
  margin: 5px;
  width: 200px;
  padding: 2px 7px;
}
input[type="submit"]{
  width: 150px;
  margin-top: 10px;
  padding: 2px 7px;
  outline: none;
  border: none;
  background-color: #d97706;
}
input[type="submit"]:hover{
  background-color: #f78e15;
  color: white;
}

.gender{
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0px;
}
h3{
  margin: 0px 0px 25px 0px;
}
input, select{
  border-radius: 7px;
}
select{
  padding: 4px 0px;
}
input[type="submit"]:active{
  box-shadow: 0px 0px 5px 1px #d97706, 0px 0px 1px 0px #d97706 inset;
  border: 1px solid #d97706;
  scale: 1.09;
}
.cono p{
  max-width: 230px;
  text-align: center;
  font-size: 10px;
}
.cono p a{
  color: blue;
  text-decoration: underline;
}
@media (min-width: 1000px){
  .cono{
    scale: 1.9;
  }
}
.nomo{
  color: #444;
  margin: 10px;
}